@font-face {
    font-family: porscheFont;
    src: url(porsche.ttf);
}
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.containerx {
    position: relative;
    text-align: center;
    color: white;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.content {
    background-color:rgba(0, 0, 0, 0.5);;
    color: #B12B28;
    padding: 20px;
    font-family: 'porscheFont';
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
.typed-out {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 30px;
    width: 100%; /* Adjust the width */
    animation: typing 1s steps(20, end) forwards;
    font-family: 'porscheFont';
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Make sure it's behind the text */
}
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #EBD698;
    padding: 20px;
    border-radius: 10px;
    font-family: 'porscheFont';
}
.label.success.tx {
    font-size: 14px;
}
.text{
    font-family:serif;
    font-size:18px;
    color:#6b100f ;
    text-align: center;
}
.subtitle{
    font-family:porscheFont;
    font-size:22px;
}
.category{
    font-family: porscheFont;
    font-size: 18px;
}
.image{
    font-family:fantasy;
    font-size:23px;
    text-align: center;
 
}
.overlappingLogo {
  margin-top: 0%;
  margin-left: 0%;
  scale: 100%;
  position: absolute;
  display: block;
  float: left;
  z-index: 1;
}

.porscheMainTitle {
    font-family: 'porscheFont';
    font-size: 32px;
    margin-top: 10px;
    color: white;
    padding-top: 3.2%;
    margin-right: 0%;
    margin-left: 50%;
}
.custom-btn {
    background-color: #EBD698;
    border-color: #EBD698; 
    color: #000; 
}

.logoPlacing {
    display: block; 
    position: absolute; 
    top: 0px; 
    left: -5px; 
  }
  .carousel{
     margin: auto; /* Center the carousel horizontally */
    width: 50%; /* Adjust the width of the carousel container as needed */
  }
  .carousel-item img {
    max-width: 100%;
    max-height: 100%; 
    width: auto;
    height: auto;
  }
  .carousel-caption h5 {
    font-family: spade; 
    font-size: 30px; 
    color: #ffffff; 
    font-weight: bold;
  }
  .carousel-caption-alt {
    font-family: spade; 
    font-size: 30px; 
    color: #ffffff00; 
    font-weight: bold;
  }
  #audioButton {
    background-color: #EBD698;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: Porschefont;
    margin: 0 auto;
    width: auto;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px; 
    width: 500px; 
    height: 40px;
    
  }
  
  #audioButton:hover {
    background-color: #B12B28; 
  }
  .gapDiv {
    width: 60px;
  }
  .spacerDiv {
    width: 350px;
  }

  .navbar-nav{
    margin-left: 14%;
  }
  .navbar-nav a {
    position: relative;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
  }
  
  .navbar-nav a:hover {
    border-bottom: 2px solid white;
  }
   /* The sidebar menu */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #EBD698;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  padding: 20px;
}
/*  Gold RGB Value = #EBD698   |   Red RGB Value= #B12B28  |   Black RGB Value = #000000-   */