@font-face {
    font-family: porscheFont;
    src: url(porsche.ttf);
}
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.containerx {
    position: relative;
    text-align: center;
    color: white;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.content {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    color: white;
    padding: 20px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
.typed-out {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 30px;
    width: 100%; /* Adjust the width */
    animation: typing 1s steps(20, end) forwards;
    font-family: 'porscheFont';
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Make sure it's behind the text */
}
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #EBD698;
    padding: 20px;
    border-radius: 10px;
    font-family: 'porscheFont';
}
.label.success.tx {
    font-size: 14px;
}
.text{
    font-family:serif;
    font-size:18px;
    color:#6b100f 
}
.subtitle{
    font-family:porscheFont;
    font-size:22px;
}
.category{
    font-family: porscheFont;
    font-size: 18px;
}
.image{
    font-family:fantasy;
    font-size:18px;
    text-align: center;
}
.overlappingLogo {
    margin-top: -0.15%;
    margin-left: -1.2%;
    scale: 100%;
    position: absolute;
    display: block;
    float: left;
  }

.porscheMainTitle {
    font-family: 'porscheFont';
    font-size: 32px;
    color: white;
    margin-left: 50%;
    padding-top: 3.2%;

}

  .logoPlacing {
    display: block; 
    position: absolute; 
    top: 0px; 
    left: -5px; 
  }
/*  Gold RGB Value = #EBD698   |   Red RGB Value= #B12B28  |   Black RGB Value = #000000-   */


